div.a {
    padding:  50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 40px;
    background-color:rgba(249, 249, 249, 0.763);
  }
  div.b {
    padding: 20px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 40px;
    background-color:rgba(249, 249, 249, 0.763);
  }